[2016-02-07 16:39] piranna opened #1 "Automate build process"
Add a script that do automaticaly all the tasks described in the readme, so just by executing that script will download and build all the source code and dependencies. This would make it easier to use and to publish later the project as a npm package :-)

[2016-02-07 18:18] Coretool commented on #1
Scheduled for tomorrow =)

[2016-02-07 18:29] piranna commented on #1
Perfect :-) What build tools and libraries are need to have installed?
Maybe we would need to include a list of them or add an installDependencies
script...
El 7/2/2016 19:18, "John Green" notifications@github.com escribió:

Scheduled for tomorrow =)

—
Reply to this email directly or view it on GitHub
https://github.com/Coretool/noGUI/issues/1#issuecomment-181071603.

[2016-02-07 18:59] Coretool commented on #1
Hm... I have to check that... I know that it is different form distro to distro (e.g. arch linux doesn't need any additional packages while ubuntu needs a ton of them)

[2016-02-07 21:19] piranna commented on #1
Don't worry, I can be able to check it on Ubuntu myself :-) I'll try to do
it tomorrow.
El 7/2/2016 7:59 PM, "John Green" notifications@github.com escribió:

[2016-02-08 10:27] Coretool commented on #1
I'll probably create multiple scripts -> one to fetch the dependencies and one to do build (this will be the same on all distros)

[2016-02-08 10:31] piranna commented on #1
Great :-) Do first the build one since you have allready the instructions
on the readme so I can check it on my machine ;-)

[2016-02-08 17:31] Coretool commented on #1
The script seems to be working ... However... I won't be able to push it before tomorrow :/

[2016-02-08 19:46] piranna commented on #1
Lol! I was just checking if there was any update on the project :-P Ok,
tame your time :-)

OffTopic: why do you have two users? :-/
El 8/2/2016 8:44 PM, "John Green" notifications@github.com escribió:

[2016-02-12 13:26] piranna commented on #1
Hi @Coretool, have you been able to get some progress with the build scripts? I'm freaking busy lately with my work, but wanted to give them a try... :-)

[2016-02-12 13:35] Coretool commented on #1
Yeah ^^ they are on my desktop right now. The only thing I have to do is upload them ^^

[2016-02-12 13:38] piranna commented on #1
Lol :-P Ok, keep me informed :-) What system are you using for development?

[2016-02-12 13:40] piranna opened #2 "Use prebuild"
When we get the build scripts working and created the npm package, we could use [prebuild](https://github.com/mafintosh/prebuild) to use prebuild images directly from GitHub :-) They could be also automated by using Travis or SemaphoreCI the same way NodeOS releases are build :-D

[2016-02-12 14:39] Coretool commented on #1
I use Arch Linux most of the time, since it allows me to costumize it 'to the limit'. However, Ubuntu (Mate) is also one of my installed OSs :)

[2016-02-12 14:40] Coretool commented on #2
Hm... looks nice, will give it a try later today ^^

[2016-02-12 14:59] piranna commented on #1
Ey, me too! :D Ubuntu Unity sucks... :-P

[2016-02-12 14:59] piranna commented on #2
:+1: ;-)

[2016-02-13 17:47] Coretool commented on #1
@piranna : Pushed it... hope it works =)

[2016-02-14 00:45] piranna opened #3 "Optimize git clone"
Configure options from `init-repository` to only download the necesary submodules.

[2016-02-14 06:46] Coretool commented on #3
Didn't know that this is a thing ^^ Ok, let's do it !

[2016-02-14 07:42] piranna commented on #1
Well... I get a linker error :-(

[code]

The problematic entry is

[code]

Seems `qt_static_plugin_QQmlInspectorServiceFactory` is not defined. I have disabled the build of the tools, but they are still being build don't know why. :-( Could you be able to check out my [fork](https://github.com/piranna/noGUI) and tell if it works for you? I've done some clean-ups and optimizations on the build to

[2016-02-14 08:36] Coretool commented on #1
HM... The build seems to run eine for me, don't know why ... I will look at this later today... Would you like to push your script to noGui ;) I like that !!

[2016-02-14 08:39] Coretool commented on #1
And... Why am I able to use a static WebKit and you aren't... So many strange things

[2016-02-14 08:45] Coretool commented on #1
Hm ^^ now I know why... I wasn't using the newst version... IT ISN'T POSSIBLE (anymore)...

[2016-02-14 09:58] Coretool opened #4 "Switching to GTK(+)/GTKfb"
Since QT doesn't allow us to build the webview component (or WebKit) statically, I am thinking about switching to GTK+ since this is much easier to handle (no qmake like things) and allows static versions of WebKit. What do you think about that @piranna ?

[2016-02-14 11:02] Coretool commented on #1
Would it be OK to just bundle a minimal QT version and don't build (everything/) it statically (?) until I found an alternative...

[2016-02-14 11:24] piranna commented on #1
[Done](https://github.com/Coretool/noGUI/pull/5) ;-)

What version was you using? Maybe we can use that... or maybe the problem is your we using your system ones... :-/

Yeah, ideally we should do that, Qt is really huge and we don't need everything...

[2016-02-14 11:29] piranna commented on #4
Downloading Qt it builds by default `qmake`, but the point of not needing it is a plus. We could test it on a different branch...

By the way, PhantomJS has statically compiled Linux builds of headless Chrome, maybe we could use it for inspiration...

[2016-02-14 11:31] Coretool commented on #1
Hm... it was QT4.7 or something like that... I created a new branch (non-static) to which I will push a non static version  with the needed libs included

[2016-02-14 11:32] piranna commented on #1
:+1:

[2016-02-14 11:39] piranna commented on #1
https://github.com/ariya/phantomjs/blob/master/build.py

This is GOLD! :-D There's a lot of flags like `-no-qml-debug` that we could use! :-D

[2016-02-14 11:41] Coretool commented on #1
Giant ./configure parameter list incoming ^^

[2016-02-14 11:42] piranna commented on #1
That's not necesarily bad... :-) Also take in account that a lot of them are due to disable graphics support, so we would not set them... ;-)

P.D.: it's cool to have a similar timezone :-D

[2016-02-14 11:43] Coretool commented on #1
Yeah ! It's a huge plus to share the timezone =)

[2016-02-14 11:48] piranna commented on #1
^^

Ok, so are you going to test with the no-static branch? I could give a try to some of this flags while you are doing that...

[2016-02-14 11:52] Coretool commented on #1
Yeah, that's a good idea...

[2016-02-14 11:53] piranna commented on #1
Ok, I'll put the machine to work ;-)

[2016-02-14 11:54] Coretool commented on #1
:+1:

[2016-02-14 12:04] piranna commented on #1
Seems PhantomJS [is using only qtbase](https://github.com/ariya/phantomjs/tree/master/src/qt) instead of full Qt, maybe we should do the same... In fact, I think we should use them as reference the same way I did with CLFS-Embebed to create the NodeOS cross-compiler, what do you think? :-)

[2016-02-14 12:06] Coretool commented on #1
Good idea ->  qtbase + webkitwidgets ?

[2016-02-14 12:09] piranna commented on #1
Seems webkitwidgets is a different thing.

[2016-02-14 12:10] Coretool commented on #1
Yeah...  That's the problem :/

[2016-02-14 12:14] piranna commented on #1
Why do you think so? I think the PhantomJS script is really clear about the steps to follow...

[2016-02-14 12:15] Coretool commented on #1
Looks like we are searching Qt WebEngine ?

[2016-02-14 12:18] Coretool commented on #1
Take a look at the wiki posts [here](https://wiki.qt.io/QtWebEngine) ...

[2016-02-14 12:20] piranna commented on #1
QtWebkit are the (old) bindings for Webkit, that's nothing bad about them, but it's only a web renderer and has been deprecated. QtWebEngine are the (new) bindings over Chrome, that's a full-fledged browser. I was surprised PhantomJS repo is using QtWebkit, but it's ok for me.

[2016-02-14 12:21] Coretool commented on #1
Hm... I'm trying to find out if I can compile QtWebEngine statically

[2016-02-14 12:30] Coretool commented on #1
`./configure  -no-phonon -no-phonon-backend -no-script -no-scripttools -no-multimedia -no-qt3support -fast -no-script -no-scripttools -no-qt3support -nomake demos -nomake tools -nomake examples` ?

[2016-02-14 12:36] Coretool commented on #1
`./configure -opensource -confirm-license  -fast -no-sql-sqlite -no-qt3support -no-xmlpatterns -no-multimedia -no-audio-backend -no-phonon -no-phonon-backend -svg -webkit -no-javascript-jit -no-script -no-scripttools -no-declarative  -qt-zlib -qt-gif -qt-libtiff -qt-libmng -qt-libjpeg -openssl -nomake demos -nomake examples -no-nis -no-cups -no-iconv -no-dbus - -linuxfb -no-armfpa  -qt-freetype -q

[2016-02-14 12:42] Coretool commented on #1
Well then, let's use the phantom.js script

[2016-02-14 12:44] Coretool commented on #4
Well the problem about headless things is that they are headless... So we have to figure out how to give it a head (in this case egl or linuxfb)

[2016-02-14 12:47] Coretool commented on #1
(I'll move this to a new Issue since it's slightly off topic ^^)

[2016-02-14 12:47] #1 closed, assigned to nobody

[2016-02-14 12:49] Coretool opened #6 "Using the phantomjs scripts (or forking them)"
I think I know where to start working now: @piranna
1. Make changes to their `preconfigure.sh` script (add backends, etc) [(here)](https://github.com/ariya/phantomjs/blob/master/src/qt/preconfig.sh)
2. Make changes to their webkit config (they removed things like web audio)
3. Build the whole stuff and hope that we didn't break anything =)

[2016-02-14 12:51] piranna commented on #4
I think it would be just a matter of not disabling the graphic backends.

[2016-02-14 12:53] Coretool commented on #4
So we are going to build the phantomjs thingy and just add the egl / linuxfb flag (?)... Sounds like a plan

[2016-02-14 12:54] piranna commented on #4
Sort of... my idea is to use PhantomJS as basis but only use the flags we see could fit to out purposses.

[2016-02-14 12:54] Coretool commented on #4
Yeah, sure... we will probably need more than they need...

[2016-02-14 19:24] piranna commented on #6
I've updated the script mimicking how PhantonJS works and qtbase compiles without problem, but qtwebkit requires to install some programs (gperf bison ruby flex) and requires to have qtbase compiled with ICU support. I enabled it but require to also compile and add libicu... Don't know if it makes sense to go so long or if we should move directly to content_shell instead of QtWebkit. Maybe we coul

[2016-02-14 21:01] Coretool commented on #6
Hm... I think content_shell would be extremly interesting to work and prototype with... I think for a first attemp it is to much work if there are better ways of achivinh the same :) I think we should leave it as it easy and look forward to the content-shell !

[2016-02-14 21:03] Coretool commented on #6
However, I would say that we leave GUI related code in this repo no mather which way we take (?).

[2016-02-14 23:40] piranna commented on #6
There were previous attempts with content_shell and seems @formula1 was able to compile and make it work, but only at default resolution of 800x600 and trying to change that it showed nothing... :-/ We could investigate it, I only agreed to experiment with QtWebkit since it seemed it would be easier to have a working prototype before to move to other things. Who knows, maybe ICU is just the only l

[2016-02-15 04:19] formula1 commented on #6
@netlovers was the real hero when it came to content shell but I don't think he was able to finish it. My own attempts involved webkit.js, headless-gl and falsifying a bunch of browser objects. Didn't work out as planned though : / I am able to get it running without errors but it renders blank pngs. https://github.com/formula1/node-webkit-canvas

I saw @piranna (I see you everywhere man, you have

[2016-02-15 04:49] piranna commented on #6
Sorry, I'm really bad with names...

At least it was a good idea :-) Probably there was sonething missing...

I have an idea about it, what I don't have it's a life :-(

Yeah, it's written in Rust. Being this a independent project from NodeOS
don't matter too much as far as it does what we need, since probably we'll
distribute precompiled builds.

CEF is somewhat deprecated in benefict of content_

[2016-02-15 06:56] Coretool commented on #6
Yeah... I agree with trying it once again with ICU (fingers crossed ) Both CEF and content shell will require a bunch of work to make them run as we want (as far as I know)

[2016-02-18 08:21] piranna commented on #6
Ok, not sure how or why, but I managed to compile it using ICU :-P There are some problems though:
- it last forever to compile, I've left it all the night compiling in a dual core machine, so we need to publish prebuild images or people will kill themselves after killing us due to anger :-P
- qtwebket tests for ICU only works for dynamic one instead of static one, so I enabled to build both of th

[2016-02-18 08:43] Coretool commented on #6
WOW ! Good job ! Could you push your scripts ? I think most of these problems should be "solveable". Sure, I'll test it ;)

[2016-02-18 09:15] piranna commented on #6
I've already pushed them. I have tested it and done some minor tune-ups but
still didn't work, seems plugins doesn't work when statically linked so
linuxfb plugin don't get loaded. It seems it needs to be used a macro on
the code to load it    Do you want I push these changes?
El 18/2/2016 9:43, "John Green" notifications@github.com escribió:

[2016-02-18 13:15] Coretool commented on #6
There's a 'special' method/function/lib/whatever-qt-calls-that to include static plugins ... I will push an updated version of noGui in the next days :) (Totally forgot to tell you about that ) I think that's what is missing !

[2016-02-18 13:51] piranna commented on #6
Seems I was able to include the linuxfb plugin, or at least now I get an
error about not having permissions to open /dev/fb0! :-D Could you be able
to look hos make it to use linuxfb by default (no -platform argument)
instead of xcb?
El 18/2/2016 14:15, "John Green" notifications@github.com escribió:

[2016-02-18 15:37] piranna commented on #6
![20160218_162004](https://cloud.githubusercontent.com/assets/532414/13148184/7f617792-d65c-11e5-955c-b9b5af4144cd.jpg)

Yay! :-D I've managed to include the `linuxfb` plugin inside the static binary. I'm not able to see anything but seems is a network error in my part. Good thing is, the mouse support and icon comes by free, and the reload button clicking the mouse secondary button is a plus... ;

[2016-02-18 15:42] Coretool commented on #6
Yeah! That's cool !

For exiting and co. I thought about keyboard shortcuts (something like ctrl + q or so )
 As @lite20 said, it is possible to change the fb size (-> I'll add code to get the screen size )

To use the fb by default... What about a js script (or even wrapper) for that ?

[2016-02-18 15:44] #4 closed, assigned to nobody

[2016-02-18 16:02] piranna commented on #3
We need to look for the alternative tarballs instead of git clone.
El 18/2/2016 16:44, "John Green" notifications@github.com escribió:

[2016-02-18 16:17] Coretool commented on #3
Why ?

[2016-02-18 20:23] piranna commented on #3
Using tarballs download will be faster, and also we remove git as
dependency.
El 18/2/2016 5:17 PM, "John Green" notifications@github.com escribió:

[2016-02-18 20:29] piranna commented on #6
Ok, although well need to find a good one not used by anyone...
Ctrl+Alt+Sup?

Ok.

It's currently being used a bash script, but I want it native.

[2016-02-18 20:53] Coretool commented on #6
1. ok, 2. ok and 3. ok =)

[2016-02-18 20:54] Coretool commented on #3
Yeah... forgot that NodeOS doesn't have git (full) git support....

[2016-02-18 20:54] #3 closed, assigned to nobody

[2016-02-19 19:25] mitsukaki commented on #6
If you need anything, let me know.

BTW, I'm watching your progress like a hawk :P I'm always here so if you need something (excluding compiling because my pc just can't XD) then lemme know :D

[2016-02-20 08:40] Coretool commented on #6
@piranna It looks like the size of the linuxfb is set using env variables...

(http://doc.qt.io/qt-5/embedded-linux.html#linuxfb)

I could query the display size and set the size using a function from stdlib.h...

[2016-02-20 08:50] piranna commented on #6
It's a shame that it can't be set programatically nor it gets the correct
value, but this link is awesome :-D

How are you planning to do that?

[2016-02-20 08:55] Coretool commented on #6
QApplication has got a method to get the screen size

And stdlib has got `putenv()`

[2016-02-20 10:02] piranna commented on #6
And set them before calling QtWebkit? It could work...
El 20/2/2016 9:55 AM, "John Green" notifications@github.com escribió:

[2016-02-20 10:10] Coretool commented on #6
As long as everything is called in one process it should work, since `putenv()` sets them only for the process...

[2016-02-20 12:01] piranna commented on #6
Yeah, but it's strange there not an API for this...
El 20/2/2016 11:10 AM, "John Green" notifications@github.com escribió:

[2016-02-20 12:30] piranna commented on #6
I've fully read the page and all of us we should do so. Seems EGLFS uses by
default a full-screen window based on the framebuffer size, so probably
this could work, problem is how to enable EGL support on NodeOS in a
generic way, al least software rendered... :-/
El 20/2/2016 13:01, "piranna@gmail.com" piranna@gmail.com escribió:

[2016-02-20 12:36] piranna commented on #6
Ok, we need to check this
https://bugs.tizen.org/jira/plugins/servlet/mobile#issue/PTREL-785
El 20/2/2016 13:30, "piranna@gmail.com" piranna@gmail.com escribió:

[2016-02-20 14:33] Coretool commented on #6
(I knew that EGLFS uses the full screen, I tested noGui on it...)
So you wanna use mesa ? I think we should track down the linuxfb thingy first (and "freeze" it) and then start searching for other ways to achieve the rendering :/

[2016-02-20 15:17] piranna commented on #6
Do you think is an issue only of framebuffer?

In the long run I want to use EGL and Mesa, but it's ok, let's freeze a
framebuffer version and later we'll move to other things.

[2016-02-20 15:54] Coretool commented on #6
It don't know, if it is only framebuffer related ... It's possible too that we just don't have this "auto adjustment" when using static binaries

So... are your build scripts complete ? I will add the framebuffer code in the next days and afterwards I think.. (just maybe ^^) we have got a first release :) ( Of course ... I needs to be packaged and so on)

[2016-02-20 16:01] piranna commented on #6
Ok, let's forget about this and we'll check it later if we move to EGL.

No, it doesn't have relationship, static binaries are only about having all
it's code inside the binary instead of stored in external libraries.

Sort of :-) I didn't have time to test loading a web page, though..

One step at a time ;-)

[2016-02-21 12:35] Coretool commented on #6
Well then ^^

[2016-02-21 21:02] mitsukaki commented on #6
@Coretool Very exciting! Good work!

[2016-02-22 07:19] Coretool commented on #6
@lite20 Well... The hardest work was that of @piranna, he figured out how to complie this correctly !

[2016-02-22 08:21] piranna commented on #6
^^ Largest, tedious, head-banging... mostly the same as with NodeOS in
general :-P Point is that you told you were able to compile it before, so
knowing it was possible now it was just a matter of tune-up :-)
El 22/2/2016 8:19, "John Green" notifications@github.com escribió:

[2016-02-22 09:44] Coretool commented on #6
Yeah... When I first compiled it, it worked but I didn't notice that there wasn't any webkit ^^

[2016-02-22 23:55] mitsukaki commented on #6
Why am I not surprised :) You'll always find @piranna rescuing broken tool-chains and failing build scripts. Nonetheless, both of you did excellent work and have lead to the milestone we are soon to hit ^_^

[2016-02-23 09:02] piranna commented on #6
Not really, GUI is from 1.1 release, we should focus on 1.0 (pending tasks are nsh rewrite that I'm banging my head trying to debug stdin, git client that @tylerl0706 was working on, and logon creating new users that it's open to anybody :-) ), only that GUI has a lot of people interest (and me too, but just for my thesis keynote :-P ) so I'm working on it too just to keep it railed :-)

[2016-02-23 12:06] Coretool commented on #6
@piranna Then let's finish version 1.0 ^^

[2016-02-24 02:57] mitsukaki commented on #6
Oh I'd be more than glad to rewrite NSH from scratch if that's what you mean. (Like, seriously. I will do it now if you want XD)

P.S. Almost done login. Just have to create the directory now.

[2016-02-24 07:33] piranna commented on #6
You are late, I've already done it :-P Beside that stdin stream buh you can
be able to fetch and test it from my fork. There are some things there that
still need to be done, like clean and improve the completer, or expand
shell-parse module to parse variable substitution expressions...

[2016-02-24 15:06] mitsukaki commented on #6
nooooooooooooo

Ah I see. Okay, I will take a look to see what I can add but I will most likely spend most of my time modulifying it, and adding functionality

[2016-03-23 16:03] piranna commented on #6
Good news guys: seems the problem why Google and other pages can be rendered inside an iframe is due to the `X-Frame-Options` header that dictates to the browser to don't render that content for security issues... but can be disabled!!! :-D You need to use some browsers extensions to ignore the header (like https://chrome.google.com/webstore/detail/ignore-x-frame-headers/gleekbfjekiniecknbkamfmkoh

[2016-03-23 20:15] Coretool commented on #6
Wow ! That's great news ! Sorry, that I'm so inactive at the moment but school's running pretty hot right now :P I'll look into this asap.

[2016-03-23 20:33] piranna commented on #6
Yeah, I've been a bit inactive lately too due to work and some showstoppers, but seems things are moving forward :-)

[2016-04-10 19:42] Coretool commented on #6
I finally looked into it ^^ ! It seems like they (the developers of these addons) just remove the option from the response... I know that qt got the `QNetworkReply` class, maybe it allows me to do the same with qt... (I think it grants access to the header)

[2016-04-10 20:17] Coretool commented on #6
@piranna

[2016-04-10 20:50] piranna commented on #6
Do you think you would be able to easily override this on noGUI and submit your changes soon?

[2016-04-10 21:05] Coretool commented on #6
Puh... Yeah, it shouldn't be **that hard** but my time is limited. I'll try my best to do it this week !

[2016-04-10 22:19] piranna commented on #6
Ok, take your time and keep going ;-)
El 10/4/2016 11:05 PM, "John Green" notifications@github.com escribió:

[2016-04-10 22:20] piranna commented on #6
Remember enable first the support for X11, probably this will make it
easier to test.
El 11/4/2016 12:19 AM, "piranna@gmail.com" piranna@gmail.com escribió:

[2016-04-11 04:31] Coretool commented on #6
Ah right ! That was a thing too :0...

[2016-04-11 04:49] mitsukaki commented on #6
Just a question. Did y'all manage to open any page in the last noGUI? Just
curiosity :P while you guys work on this, I've begun familiarizing myself
with content shell. Hopefully i'll be of use when we get there!
On Apr 10, 2016 10:31 PM, "John Green" notifications@github.com wrote:

[2016-04-11 05:01] piranna commented on #6
No I didn't, but also didn't hace time to give it an oportunity.

[2016-04-11 05:04] mitsukaki commented on #6
Oh hahaha! That's alright. Good job anyway on all your progress!
On Apr 10, 2016 11:01 PM, "Jesús Leganés Combarro" notifications@github.com
wrote:

[2016-04-11 09:35] Coretool commented on #6
It doesn't work on our static linuxfb versiob... however I seems to work with X11

[2016-04-11 09:44] piranna commented on #6
Have you managed to open a web page with noGUI on X11? If so maybe linuxfb it's more a network issue...

[2016-04-11 10:02] Coretool commented on #6
Well... X11-non-static works...

[2016-04-11 10:09] piranna commented on #6
Ok, that's something :-) Have you modified the code? Do you have it somewhere?

[2016-04-11 10:28] Coretool commented on #6
I didn't modify anything... just use X11 as target platforn

[2016-04-11 10:33] piranna commented on #6
I was talking about to enable the support for X11 target platform.

[2016-04-11 10:34] Coretool commented on #6
You wanna enable it for nodeos or  for noGui ? NoGui code is platform indipendent...

[2016-04-11 10:37] piranna commented on #6
For noGUI, and just only for development purposes. I think this way it will be easier to test...

[2016-04-11 10:47] Coretool commented on #6
Yeah... noGui seems to work in a non-static X11 context. I haven't tested it in a static context yet.

[2016-04-11 11:29] piranna commented on #6
Ok, if we can show a url in a non-static X11, we can continue working from it. Do you have somewhere the changes to enable X11 target?

[2016-04-11 15:45] Coretool commented on #6
You don't have to change anything ... using qtStudio is the easiest way, just press "run" ^^ If you try to run noGui with a _normal_ qt version (something like `./noGui` ) you will hit an error that tells you the target (=platform) names (I don't know them all)

Since qt 5.6 there seems to be something new to static versions ... I think it got easier, I will have to look at it (as far as I've seen

[2016-04-11 16:12] Coretool commented on #6
=> so just compile a normal, shared  version of noGui  and start it with `./noGui` ... Of course, if you do not have X11 that won't work... but I think this isn't case

[2016-04-11 16:14] piranna commented on #6
Of course on desktop that's not the case, that's just why I tell you about doing so for testing purposes :-)

[2016-04-11 19:34] Coretool commented on #6
Ah, well I can comfirm then, that it works. I will add some logging and this x frame thingy in the near future...

[2016-04-11 19:56] piranna commented on #6
Cool, keep us informed of tour progresses :-)
El 11/4/2016 9:34 PM, "John Green" notifications@github.com escribió:

[2016-05-08 22:03] piranna opened #8 "Allow to use local files"
Allow to use files from the filesystem without needing to use a `file://` scheme URI.

[2016-05-08 22:07] piranna opened #9 "Set xcb optional"
Add an option to build qtbase with or without `xcb` support.

[2016-05-08 22:07] piranna opened #10 "Link libz statically"

[2016-05-11 09:12] jaumard opened #11 "noGUI on mac"
I'm trying to run `./build.sh` on mac and I have this error :

[code]

Any idea of on fix this ?

[2016-05-11 09:45] piranna commented on #11
NodeOS needs to be build on a Linux system, reference is Ubuntu. I tried to port the build process to Mac but there was no luck :-( Maybe noGUI could be ported, but you'll need to do it yourself. If you manage to do so, pull-requests are welcome :-)

[2016-05-11 10:15] jaumard commented on #11
Thanks @piranna ! I will try to successfully build it on Ubuntu first ^^ I never work on such project before, I don't know if I able to help here. I will take a look :) but for know it's look like magic (or dark force lol)

[2016-05-11 11:31] jaumard commented on #11
@piranna same error on ubuntu :/ I try `apt-get install xcb` but it's not fixing the error... Any idea ?

[2016-05-11 11:44] Coretool commented on #11
@jaumard Isn't the package called libxcb ? See https://wiki.qt.io/Building_Qt_5_from_Git for more information :)

Don't forget to run the `install-dependencies.sh` script !

[2016-05-11 11:49] piranna commented on #11
Use my fork, I have it fixed.

[2016-05-11 12:03] Coretool commented on #11
@piranna What did you change ?

[2016-05-11 12:10] jaumard commented on #11
I try but `Unable to locate package libxcb` and libxcb1 already installed.  I will try your fork @piranna and let you know

[2016-05-11 12:25] jaumard commented on #11
@piranna same on your fork... maybe something is missing on my system but I can't figure what it is :/

[2016-05-11 12:43] jaumard commented on #11
I use a fresh ubuntu VM to build this and most `dev` packages are not installed. After installing some missing packages :

Now I don't have this error, now I'm waiting to see if it's compiling successfully or not ^^

[2016-05-11 12:49] piranna commented on #11
i set it to use bundle copy of xcb lib.
El 11/5/2016 2:03 PM, "John Green" notifications@github.com escribió:

[2016-05-11 14:35] jaumard commented on #11
After this I do `sudo apt-get install ruby bison flex perf` because of this :

[code]

Now I have this error :

[code]

[2016-05-11 14:51] Coretool commented on #11
If you just want to work on noGui, you don't have to build this ! Install the Qt 5.5 for your platform and start working on noGui itself! You do not need static version to hack on noGui...

[2016-05-11 15:46] jaumard commented on #11
Sorry @Coretool I a noob on this kind of project (I'm a web and mobile dev)... I installed Qt 5.5 and manage to launch noGUI.

Here is what I want to do : create a desktop application who is able to list/launch apps, manage files/folders, like this nodeOS can boot on it and have a nice UI. Do to this I need a Javascript API to be able to do some actions from embedded Javascript to the nodeOS syste

[2016-05-11 16:10] piranna commented on #11
What you want to achieve is a plain old webapp. Just develop it for any web
browser and it will work on NodeOS and noGUI.
El 11/5/2016 17:46, "Jaumard" notifications@github.com escribió:

[2016-05-11 17:05] Coretool commented on #11
You don' t need to say sorry ^^ I am not a master of such projects either !

What you want to do can all be warpped up into a plain webapp ! See the machine as the server and noGui as the client. All changes on the server will actually happen on your nodeOs machine !

It's really cool, that we got somebody who want's to write an actual Desktop / App for a nodeOs with a gui, this motivates me to ta

[2016-05-11 17:38] jaumard commented on #11
I just read some other issues and what I have in mind is to have access to node API directly from webview but I read that is not what you want to do so it's ok ^^.
I also read there some interesting desktop projects that can be used for nodeOS so I will more look into this before starting something ^^
Thanks for your help and explanations :)

[2016-05-11 18:27] mitsukaki commented on #11
Sounds like you'd like to make a desktop manager. You wouldn't need to come this far back. To speed up development, you may want to take a look at the Yunitto module on npm.

[2016-05-11 18:28] mitsukaki commented on #11
Ah I see. Yes it's encouraged to do as much processing as possible on the remote side instead of the host server. Good luck with your project!

[2016-06-24 20:54] Coretool opened #12 "new and easier idea"
I guess you all know phantomjs. It's used to test web pages completly headless and without X.

Last night I tried something : Open a webpage, screenshoting it and printing the scrennshots to the FB. It works quite well. I still have to add find the optimal way of writing it to the fb and so on but it semms to work. It could replace the other aproach ...

What do you think about it ?

/ cc @piranna

[2016-06-24 20:56] piranna commented on #12
Not a bad idea, good to know you got it working :-) How do you manage
keystrokes and the mouse?
El 24/6/2016 10:54 PM, "John Green" notifications@github.com escribió:

[2016-06-24 20:59] Coretool commented on #12
I used a toy mouse driver and ignored the keyboard ...

[2016-06-24 21:01] piranna commented on #12
:-/ Do you know if the binary is fully static?

[2016-06-24 21:03] Coretool commented on #12
I wrote it and as far as I know it should be possibel to complie it statically

[2016-06-24 21:09] piranna commented on #12
I'm talking about the PhantomJS binary.
El 24/6/2016 11:03 PM, "John Green" notifications@github.com escribió:

[2016-06-24 21:11] Coretool commented on #12
Yeah... that makes more sense. Honestly, I didn't check, but since they use qtWebkit, I guess it's possible ...

[2016-06-24 21:17] Coretool commented on #12
Yeah, [it's possible](https://github.com/macbre/phantomjs/releases/tag/2.0.0).

[2016-06-24 21:24] piranna commented on #12
Well, it's not fully static since it use the dynamic version of libc, but
it's good enough ;-) We could investigate this path since it uses
QtWebengine instead of the deprecated QtWebkit, but I would use it more as
a testbed to know how to compile it ourselves adding the direct support for
framebuffer.
El 24/6/2016 23:17, "John Green" notifications@github.com escribió:

[2016-06-24 21:29] Coretool commented on #12
Yeah, that's what I was thinking too because it uses way too much of the computers power (my laptop did heat up about 10°) to be used as everyday GUI.

[2016-06-24 21:43] mitsukaki commented on #12
This sounds like an awesome idea. Taking a look at the source we could probably find a nicer way to glue phantom to the framebuffer and get it going.

[2016-06-25 01:49] mitsukaki commented on #12
@Coretool could I have the source for your setup? Ty (emailed you about it)

[2016-07-12 10:55] #12 closed, assigned to nobody

[2016-07-25 19:15] piranna opened #13 "Move to QtWebEngine"
I think we need to move to [QtWebEngine](http://doc.qt.io/qt-5/qtwebengine-overview.html)... I tried to build `noGUI` the other day and it failed, and I'm not fully sure if it's due to usage of latest version of Qt where `QtWebkit` has been deprecated. On the other hand, `QtWebEngine` has a full instance of Chromium that would give us a better compatibility and to work in pair with the latest Phan

[2016-07-25 19:19] piranna opened #14 "Download tarballs instead of use git"
Use direct download of tarballs instead of download latests source code using `git`. For QtBase the url is http://download.qt.io/official_releases/qt/5.7/5.7.0/submodules/qtbase-opensource-src-5.7.0.tar.gz, maybe we should do first some trials with previous versions due to #13.

[2016-07-28 07:03] Coretool commented on #13
Yeah, we should move. Coding with QtWebEngine doesn't seem to be much different from QtWebkit.

Does this mean we can use their build scripts (again) ^^ ?

I think the inveptor makes sense since a NodeOS (with GUI) can surely be a every day os !

[2016-07-28 07:15] piranna commented on #13
I don't think so, main problem would be to compile it statically, but seems
PhantomJS fixed it.

No... but we can use them as reference about how to do the things, the same
way I used Cross Linux from Scratch to create the build process of NodeOS
:-)

Yes, but mostly because it's the most simple way to enable that
functionality, and also there's plugins for the browsers for that, so we
can still u

[2016-07-28 07:39] Coretool commented on #13
So the guys from phantomjs have got a way to build it statically (?) AFAIK they only use QtWebkit... There's even a prototype for CEF but no one for QtWebEngine

Haven't tried it on neither NodeOS nor noGui...

[2016-07-28 08:31] piranna commented on #13
PhantomJS provides a sonewhat statically linked binary. With PhantomJS 1
there was no problem because they used QtWebkit but was too limited, on
PhantomJS 2 they started to use QtWebEngine but there was problems with ICU
and the versions of the C library on Linux, but they found a way to solve
this on PhantomJS 2.1, that's why I said of using their scripts and options
as reference. Could you be ab

[2016-07-28 08:46] Coretool commented on #13
They still have QtWebkit in their Src dir (ariya/phantomjs@2.1.1) and their python build script points to QtWebkit too... Is ariya/phantomjs just the wrong repository ?

[2016-07-28 09:06] piranna commented on #13
So seems they didn't moved to QtWebEngine yet... :-/ We should consider to move ourselves then, but first let's release a version with QtWebkit first.

[2016-07-28 09:18] Coretool commented on #13
Yeah, that's a bit sad :/... I'll look to continue noGUI ... Aurora is also faltering :/

[2016-07-28 15:20] Coretool commented on #13
Just as an information, I'll try to build a static QtWebEngine tonight, so fingers crossed ^^

[2016-07-28 15:26] piranna commented on #13
Good luck! ;-)

[2016-07-28 15:26] piranna commented on #13
Good luck! ;-)

[2016-07-29 07:54] Coretool commented on #13
I followed [this SO question](http://stackoverflow.com/questions/30316880/how-to-build-qtwebengine-from-qt-5-5-git-source) As far as I can tell it worked. I'll try it again with qt5.7 in the next couple of days.

[2016-07-29 08:01] piranna commented on #13
That's cool! Can you show an output of the ldd command (and a screenshoot
:-P)? Also, instead of using git, could you be able to use tarballs as I
sugested on other issue?
El 29/7/2016 9:54, "John Green" notifications@github.com escribió:

[2016-07-29 08:10] Coretool commented on #13
Well I still have to get rid of xcb and build it for the `linuxfb` platform. I'll make a screenshot when I've got that up and running.

Yeah, I'll do that.

[2016-07-29 08:23] piranna commented on #13
Get rid of xcb seems trivial, anyway left it by now just for testing. Add
support for framebuffer (it should be similar as how we have it for
QtWebkit) and just give it a test to know it's working. Are you doing your
changes in an independent branch?
El 29/7/2016 10:10, "John Green" notifications@github.com escribió:

[2016-07-29 08:25] Coretool commented on #13
I'll push them to an independent branch once I've written the scripts and adjusted the current noGUI code to the `qtwebengine`  (which should be pretty straight forwaed). Adding support for the `linuxfb` works as in the previous version.

[2016-07-29 08:29] piranna commented on #13
Fine! :-D Give me the ldd output please, I want to check it.
El 29/7/2016 10:25, "John Green" notifications@github.com escribió:

[2016-07-29 08:43] Coretool commented on #13
As soon as I 'm back at my computer ^^

[2016-07-29 08:50] piranna commented on #13
ACK
El 29/7/2016 10:43, "John Green" notifications@github.com escribió:

[2016-07-29 11:31] Coretool commented on #13
Really bad news. The I built a shared version instead of the static version =/. However, it seems like it's possible to build it static since the build seems to fail at some "minor" errors only (or that's what it fail at now)

People seem to have had the same problem in the [past](https://forum.qt.io/topic/57888/solved-qt5-5-static-build-failed-qqmldebugserverthread-run-error-undefined-reference-t

[2016-07-29 12:12] Coretool commented on #13
Ok. I can retake the claim that I built a static version, finally got it (I guess)

[2016-08-04 19:16] mitsukaki commented on #14
Are you referring to our build scripts? To download tarballs instead of using git?

[2016-08-04 20:00] piranna commented on #14
Yes, this would remove one dependency (git), make download faster (only
latests files without the changes history) and more important use fixed and
tested versions instead of latest master branch, so environment is easily
replicable and testeable.

[2016-08-04 20:11] Coretool commented on #14
We can close this, tars are in use now !

[2016-08-04 20:11] #14 closed, assigned to nobody

[2016-08-04 20:13] piranna commented on #14
:-D

[2016-08-05 06:54] #11 closed, assigned to nobody

[2016-08-06 16:20] piranna commented on #6
I think these links would be of interest:

https://github.com/ariya/phantomjs/issues/12948#issuecomment-238011598
http://wizardyhnr.blogspot.com.es/2016/04/how-to-build-cross-compliatio.html

[2016-08-06 16:43] Coretool commented on #6
Hm... So if I understood correctly they managed to build qt static ! This cross-compile system looks good and it'll be trivial to make the changes we need. Thanks for the link, lucky that I've got holidays so I've got enough time to try that (and other things) out !

[2016-08-06 17:57] piranna commented on #6
We need to see what build arguments they are using, that's the interesting part.

[2016-12-02 19:52] legodude17 opened #15 "Auto add the `http://`?"
Why wouldn't it just auto add the `http://` if it didn't exist?

[2016-12-02 20:09] piranna commented on #15
It's an option, although this project don't have too much attention lately, we are focused on launching NodeOS 1.0.0 first. You can take a look at it and send pull-requests if you want :-)

[2016-12-02 21:45] legodude17 commented on #15
Ok. I will send a PR. 😄

[2016-12-09 01:01] legodude17 commented on #15
Ok I sent the PR and it was accepted.

[2016-12-09 01:01] #15 closed, assigned to nobody

[2017-02-12 07:16] mitsukaki opened #17 "Build error"
While compiling noGUI, after several hours of compilation (i don't even know how many, I went to sleep). I awoke to my stressed computer fan and this error.

[code]

An excellent morning indeed. Anyway, if I missed any steps, please let me know. I simply cloned the repo and ran './build.sh' as mentioned in the README.md

I've made the complete output (which also took time, so I hope it's useful) a

[2017-02-12 07:44] Coretool commented on #17
Try to add the missing libraries to your path (ruby, flex, bison and gperf) and try to explicitly tell the configure script what libjpeg etc. you want to use. There are some flags for that!

[2017-06-18 05:05] Technohacker commented on #13
Move to Qt WebEngine has been done :)

[2017-06-18 06:57] Coretool commented on #13
Thanks ^^

[2017-06-18 09:45] Technohacker commented on #13
@Coretool I suppose this issue can now be closed :D

[2017-06-18 10:00] piranna opened #19 "Replace current master branch"
Master branch host an experiment of using PhantomJS to render web pages to PNG, so later they could be drawn to framebuffer. It's interesting, but not the focus of this project. I propose to move the current code from master branch to an independent project, and update content of master branch to the one from the Anti-QT branch with the commands `git checkout master && git reset --hard anti-QT &&

[2017-06-18 10:56] piranna commented on #13
I've done some fixes on the build script and I'm compiling it just now to check if it works as expected so we can close this. On the other hand, we should check about the interceptor I told on the first comment before clossing this issue, or open a new one specific for it.

[2017-06-18 11:01] piranna commented on #10
Qt is compiled with config `Using system zlib ...................... no`, so it would be just a matter of specify the location of the `zlib.h` header.

[2017-06-18 11:07] piranna opened #20 "Fix Qt options"
On Qt 5.9, the output of `qtbase` and `qtwebengine` configurations are:

[code]

[code]

We need to adjust them, specially to remove the new options that are useless to us like PostgreSQL or VNC support, and after that start experimenting with the other ones like EGL.

[2017-06-18 11:10] piranna opened #21 "Static builds of QtWebEngine aren't supported"
New code using QtWebEngine throw me the next error when compiling:

[code]

We'll need to find a solution for this...

[2017-06-18 19:10] piranna commented on #13
@Technohacker, has you check your code compiles on a clean slate environment? What's your current system? I have been trying all the day to compile your changes to use QtWebEngine and it doesn't work statically, and with dynamic libraries it's asking me a lot more dependencies...

[2017-06-18 19:46] piranna commented on #13
Ok, the `libegl1-mesa-dev` package is needed by Chromium itself, or at least I was not able to configure the `QtWebEngine` module. Knowing that Chromium uses EGL directly, probably would be a better thing to directly use it...

[2017-06-18 20:48] piranna commented on #13
[code]

Definitely, this is not the way to go. Ideally QtWebEngine should be a good option, but I can't be able to replicate it. I've done a pull-request at https://github.com/Coretool/noGUI/pull/22 to see if you can check the fixes and try to find what's happening. Seems probably start from scratch with `content_browser` would be a better idea.

[2017-06-19 01:44] Technohacker commented on #13
@piranna Sorry, I couldn't test with a static build of Qt because from my experience with Android, Chromium is a huge project to compile

[2017-06-19 05:31] piranna commented on #13
Then you should have adviced it...

El 19/6/2017 3:44, "K3v1n Kur14k053" <notifications@github.com> escribió:

[2017-06-19 10:15] Technohacker commented on #13
Sorry, my mistake :[

On Mon, Jun 19, 2017 at 11:01 AM Jesús Leganés-Combarro <
notifications@github.com> wrote:

[2020-06-11 14:47] Stanlyhalo opened #23 "A couple questions."
So I just wanna check if I'm getting this straight. noGUI is a GUI api for Node-OS to actually add a GUI, and it runs using qt? And what your saying, is that the user wrights html, css, & javascript and noGUI will take all that in and create the GUI from qt?

[2020-06-11 15:51] piranna commented on #23
Qt is an implementation detail, but mostly yes: NodeOS don't have a GUI itself, but instead is a server-oriented OS. Graphical apps are intended to be written using web technologies and accesible from any web browser, and noGUI is a kiosk mode browser to ran the NodeOS GUI in the same machine where NodeOS itself is running.